<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.BookMapper">

    <select id="selectAllBook" resultType="Book">
        select * from book
    </select>

    <select id="selectBookById" resultType="Book" parameterType="Integer">
        select * from book where bid=#{bid}
    </select>

    <select id="selectBooks"  resultType="Book" parameterType="String">
        select * from book
        <where>
            <if test="book!=null">
                `name` like concat(#{name},'%');
            </if>

        </where>
    </select>



</mapper>
